@use "../../assets/sass/_variables.scss" as *;

.team-card{
    width: 10rem;
    height: 13rem;

    margin: 0.5rem;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: lightcyan;

    & * {
        padding: 0.25rem;
    }
}