@use "./assets/sass/_variables.scss" as *;

body{
  background-color: $colour-secondary;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: $colour-black;
  font-family: $font-primary;
  text-align: center;

  .header{
    background-color: $colour-primary;
    padding: 1rem;
    width: 100%;
  }
  
  .main{
    display: grid;
    grid-template-areas: 
      "filters cards";

    justify-items: start;
    justify-content: start;
    align-items: start;
    align-content: start;

    .filter-section{
      grid-area: filters;
      margin: 2rem;
      text-align: left;

      h3{
        text-align: center;
      }
    }

    .cards-section{
      grid-area: cards;
      justify-self: end;
      
      width: 100%;
      padding-right: 2.5rem;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

}
