@use "./assets/sass/_variables.scss" as *;

body{
  background-color: $colour-secondary;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  //flex-direction: column;
  grid-template-areas: 
    "header header"
    "filters cards";
  align-items: center;

  color: $colour-black;
  font-family: $font-primary;
  text-align: center;

  .header{
    grid-area: header;
    background-color: $colour-primary;
    padding: 1rem;
    width: 100%;
  }
  
  .filter-section{
    grid-area: filters;
    margin: 2rem;
  }

  .tracker-section{
    grid-area: cards;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
