@use "./assets/sass/_variables.scss" as *;

.app {
  text-align: center;
  background-color: lightblue;
  color: $colour-black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: lightcyan;
}

