@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

$font-primary: "Signika Negative", Arial, Helvetica, sans-serif;

$colour-black: black;
$colour-primary: azure;
$colour-secondary: lightskyblue;

$colour-subheading: lightslategrey;
$colour-clicked: deepskyblue;

$colour-warning: gold;
$colour-warning-button: goldenrod;
$colour-warning-clicked: peru;

$colour-emergency: firebrick;
$colour-emergency-button: rgb(115, 3, 3);

$colour-text-secondary: white;