@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

$font-primary: "Signika Negative", Arial, Helvetica, sans-serif;

$colour-black: black;
$colour-primary: azure;
$colour-secondary: lightskyblue;

$colour-subheading: lightslategrey;
$colour-clicked: deepskyblue;